body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }

  .signature-container {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    border: 10px solid black; 
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
  }

  canvas {
    border: 1px solid #000;
    width: 100%;
  }